server {
  listen 80;
  server_name {{ ghostapp_domain }}
  root {{ ghostapp_dir }}/ghost; # Change to the path where Ghost is
  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header Host $http_host;
    proxy_pass http://127.0.0.1:2368;
  }
}
