{
  # The network section covers network configuration :)
  # TODO: Make servers dynamic
  "network": {
    "servers": [ "10.0.0.6:5000" ],
    "ssl ca": "{{ logstash_forwarder_ssl_cert_dir}}/logstash-forwarder.crt",
    "timeout": 15
  },
  "files": [
    {
      "paths": [
        "/var/log/syslog",
        "/var/log/auth.log"
       ],
      "fields": { "type": "syslog" }
    }
  ]
}
